@CHARSET "ISO-8859-1";
/*fonts*/

@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

p {
	font-family: Montserrat;
	color: #4E3010;
	text-align: justify;
}

.superpower {
	display: none;
}

.error {
	font-size: 11px;
	color: red;
}

#submit {
	font-family: Montserrat;
	font-size: 10px;
	padding: 5px;
	background-color: #4E3010;
	border: none;
	color: #ffffff;
}

#submit:hover {
	opacity: 0.8;
}

#body {
	color: #666666;
	text-align: justify;
	font-size: 11px;
	padding: 20px;
	height: 200px;
	width: 548px;
	background-color:#ffffff;
}

#body  p{
	color: #666666;
	text-align: justify;
	font-size: 11px;
}

#bodi {
	color: #016B92;
	text-align: center;
	height: 300px;
	width: 588px;
	background-color: #016B92;

}

#bodi h2{
	color: #ffffff;
	font-size: 25px;
}

#bodi h3{
	font-size: 15px;
	color: #ffffff;
}

#bodi  p{
	color: #016B92;
	text-align: center;
	font-size: 11px;
}

#bodys {
	font-family: Montserrat;
	color: #4E3010;
	text-align: justify;
	font-size: 11px;
	padding: 20px;
	height: 548px;
	width: 548px;
	background-color:#ffffff;
}

#comment{
		height: 245px;
		width: 245px;
}

#f
{
	font-size:160px;

}

#map {
	margin-right: 10px;
	margin-bottom: 10px;
	width: 528px;
	height: 190px; 
}

#curve 
/*responsive menu head*/
{
	
}

#bg
{

	position: fixed; 
	top: -45%; 
	left: -45%; 
	width: 170%; 
	height: 170%;
	z-index: -1;

}

#bg img
{
	opacity: 0.8;
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	min-width: 50%;
	min-height: 50%;
}

#header
{
	padding-top: 10px;
	margin-bottom: -50px;
	margin: auto;
	height: 180px;
	background-image: url('images/cloudbg.jpg');
	background-repeat: no-repeat;
}

#bode {
	margin-top: 10px;
	border: 3px solid #016B92;	
	width: 588px;
	margin-bottom: 30px;
}

#vine {
	height: 50px;
	margin-top: -40px;
	
}

#bvine {
	margin-top: -3px;
	border-top: 5px solid #4E3010;
	width: 652px;
}

#header h1
{
	position: relative;
	font-family: Great Vibes, Helvetica;
	color: #016B92;
	font-size: 120px;
}
#header h1 a
{
	color: #016B92;
	text-decoration: none;
}

#banner {
	padding: 20px;
	width: 548px;
	background: #03B1EF;
	/*background-image: url('images/4.jpg');
	background-repeat: no-repeat;
	background-position: 70% 20%;*/
}

#banner h2 {
	font-family: "Montserrat";
	color: #ffffff;
	font-size: 20px;
}

#banner h3 {
	font-family: "Montserrat";
	color: #ffffff;
	font-size: 20px;
}

#header h1 a:hover
{
	color: #7AD3F3;
}
#header h3
{
	font-size: 15px;
	font-family: Montserrat, Helvetica;
	color: #4E3010;
	margin-top: -63px;
	margin-left: 420px;
}

#mobile-header {
	display: none;
	margin: auto;
	height: 70px;
	width: 100%;
}


#slideshow { 
	z-index: -1;
    margin: 10px auto; 
    position: relative; 
    width: 649px; 
    height: 370px; 
	border: 4px solid #016B92;
}

#slideshow2 { 
	z-index: -1;
    margin: 10px auto; 
    position: relative; 
    width: 649px; 
    height: 370px; 
	border: 4px solid #016B92;
}

#slideshow > div { 
    position: absolute; 
}

#slideshow2 > div { 
    position: absolute; 
}

#slideshow div img { 
    height: 370px;
	width: 649px;
}

#slideshow2 div img { 
    height: 370px;
	width: 649px;
}

#cssmenu{
	margin-top: -1px;
  font-family: Montserrat, Helvetica;
  background: #03B1EF;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 5px solid #8ACEE6;
}

#cssmenu > ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu > ul li#responsive-tab {
  display: none;
}
#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#cssmenu > ul li.right {
  float: right;
}
#cssmenu > ul li.has-sub {
  position: relative;
}
#cssmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssmenu > ul li.has-sub ul {
  display: none;
  width: 250px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #333333;
  
}
#cssmenu > ul li.has-sub ul li {
  display: block;
}
#cssmenu > ul li.has-sub ul li > a:hover {
  
}
#cssmenu > ul li.has-sub > a {
  background-image: url('images/caret.png');
  background-repeat: no-repeat;
  background-position: 90% -95%;
}
#cssmenu > ul li.has-sub > a.active,
#cssmenu > ul li.has-sub > a:hover {
  background: #ffffff;
  background-position: 90% 195%;
}
#cssmenu > ul li a {
  display: block;
  padding: 12px 24px 11px 24px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #ffffff;
}
#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
  color: #03B1EF;
  background-color: #ffffff;
}


#bodyf {
	padding: 20px;
	height: 930px;
	width: 548px;
	background-color:#ffffff;
	
}

#bodyf p{
	text-align: center;
}

#bodyf h4{
	text-align: center;
}  
 
h4 {
 	font-family: Montserrat;
	color: #666666;
	text-align: justify;
}	


.thumbnails img {
width: 200px;
height: 150px;
border: 3px solid #016B92;
opacity: 0.9;
-webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; 
-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}
.thumbnails img:hover {
opacity: 1;
border: 4px solid #7AD3F3;
-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
-webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8); box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}


@media (max-width: 680px) {
	
	#vine {
	display: none;
    }
	
	.bye {
		display:none;
	}
	#bg {
	display:none;
	}
	
	#banner {
	width: 399px;
	}
	
	#bode {
	width: 439px;
	}
	
	#map {
		width: 399px;
		height: 200px; 
	}
	
	#mobile-header {
	display: inline-block;
	}
	
	hr{
		display: none;
	}
	
	#header {
		display: none;
	}
	
	#body {
		width: 399px;
	}
	
	#bodyf {
	width: 399px;
	height: 1090px;
	}
	
	#bodys {
		width: 399px;
	}
	
	#frame {
		width: 399px;
	}
	
	#comment{
		width: 245px;
		height: 200px;
	}
	
	#slideshow {  
    width: 399px; 
    height: 240px;  
	}

	#slideshow div img { 
    width: 399px; 
    height: 240px;
	}

	#slideshow2 {  
    width: 399px; 
    height: 240px;  
	}	
	
	#slideshow2 div img { 
    width: 399px; 
    height: 240px;
	}	
#cssmenu{

  border-bottom: 5px solid #4E3010;
}
	
  #cssmenu > ul {
    width: 100%;
  }
  #cssmenu > ul li#responsive-tab {
    display: block;
  }
  #cssmenu > ul li#responsive-tab a {
    background: url('images/menu.png') no-repeat;
    background-position: 95% -35%;
	background-color: #4E3010;
	color: #ffffff;
  }
  #cssmenu > ul li#responsive-tab a:hover {
    background-color: #FFC3C3;
    background-position: 95% 135%;
	color: #ffffff;
	
  }
  #cssmenu > ul li {
    display: none;
  }
  #cssmenu > ul li.right {
    float: none;
  }
  #cssmenu > ul li.has-sub {
    position: relative;
  }
  #cssmenu > ul li.has-sub ul {
    display: block;
    position: static;
    width: 100%;
    background: #666666;
    border: 0 none;
  }
  #cssmenu > ul li.has-sub ul li {
    display: block !important;
  }
  #cssmenu > ul li.has-sub ul li a span {
    display: block;
    padding-left: 50px;
  }
  #cssmenu > ul li.has-sub > a {
    background-image: none;
  }
}
@media (max-width: 455px) {
	

	.superpower {
	display: inline;
	}
	
	#bode {
	width: 330px;
	}	
	
	#banner {
	width: 290px;
	}	
	
	#map {
	width: 290px;
	height: 200px; 
	}

	#body {
	width: 290px;
	height: 240px;
	}	
	
	#bodyf {
	width: 290px;
	}

	#bodys {
	width: 290px;
	}	
	
	#frame {
	width: 290px;
	}
	
	#comment{
		width: 250px;
	}
	
	#slideshow {  
    width: 320px; 
    height: 200px;  
	}
	
	#slideshow2 {  
    width: 320px; 
    height: 200px;  
	}	

	#slideshow div img { 
    width: 320px; 
    height: 200px;
	}
	
	#slideshow2 div img { 
    width: 320px; 
    height: 200px;
	}	

}



@media (max-width: 355px) {
	
	#banner h2 {
	font-size: 20px;
	}
	
	#bode {
	width: 240px;
	}
	
	#banner {
	width: 200px;
	}
	
	#map {
	width: 200px;
	height: 147px; 
	}
	
	#body {
	width: 200px;
	height: 300px;
	}

	#bodyf {
	width: 200px;
	height: 950px;
	}
	
	.thumbnails img {
	height: 120px;
	}
	
	#bodys {
	width: 200px;
	}

	#frame {
	width: 200px;
	}
	
	#comment{
		width: 172px;
		height: 150px;
	}

	#slideshow {  
    width: 238px; 
    height: 147px;  
	}

	#slideshow div img { 
    width: 238px; 
    height: 147px;
	}	
	
	#slideshow2 {  
    width: 238px; 
    height: 147px;  
	}

	#slideshow2 div img { 
    width: 238px; 
    height: 147px;
	}


}
/*if else shizz*/
@media (min-width: 681px) 
{
  #cssmenu > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #cssmenu > ul ul li.collapsed {
    display: block !important;
  }
}

#footer p{
	text-align: center;
	margin-top: 10px auto;
	font-weight: bold;
	color:#666666;
	font-size: 10px;
	font-family: Montserrat;
}

* {
	margin:0;
	padding:0;
}

/*Transaction CSS*/
#choice1{
	width: 324px;
	height: 200px;
}

#choice1 img{
	width: 324px;
	height: 200px;
}

#choice2{
	width: 324px;
	height: 200px;
	background-color: red;
}

#choice2 img{
	width: 324px;
	height: 200px;
}

#back{
	background-color: yellow;
}

#payment{
	width: 100px;
	height: 100px;
	background-color: yellow;
}

body {
	font-family: Montserrat;
	color: #4E3010;
	text-align: justify;
	font-size: 12px;
}

.button {
	font-family: Montserrat;
	font-size: 13px;
	padding: 10px;
	background-color: #0284B3;
	border: 2px solid #0284B3;
	color: #ffffff;
}

.button:hover {
	background-color: #ffffff;
	color: #016B92;
}

#left{
	position: relative;
	padding: 20px;
	width: 253px;
	height: 260px;
	background-color:#ffffff;
	float: left;
}

#right {
	position: relative;
	padding: 20px;
	width: 253px;
	height: 260px;
	background-color: #016B92;
	float: right;

}
 #right p {
	color: #ffffff;
 	font-size: 14px;
 }
 
 #emphasize {
 	font-size: 27px;
 }
 
 .textbox {
 	color: #808080;
 	padding: 2px;
 	border: 1px solid #668692;
 }